* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.4;
  background-color: rgb(252, 233, 233);
}

a {
  text-decoration: none;
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./Restaurant-Food.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px 0;
  text-shadow: 1px 0 black;
  text-shadow: none;
}

.jumbotron .logo {
  font-size: 30px;
  color: white;
  height: 110px;
  width: 110px;
  background-color: rgb(231, 59, 6);
  font-family: cursive;
  text-align: center;
  padding-top: 33px; 
  margin: auto;
  margin-bottom: 50px;
}

.jumbotron h1 {
  color: rgb(241, 219, 15); 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 0 rgb(0, 0, 0);
}

.searchBar {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 900px;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.searchBar .city {
  margin: 15px;
  width: 250px;
  height: 35px;
  font-weight: 100;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: white;
}

.searchBar .search-btn {
  margin: 15px;
  font-size: 15px;
  height: 35px;
  width: 150px;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgb(4, 202, 4);
  border: 1px solid rgb(3, 177, 3);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.searchBar .search-btn:hover {
  background-color: green;
}

.searchBar .restaurant {
  height: 35px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid;
  padding: 6px 12px;
  width: 350px;
}

@media (max-width: 950px) {
  .searchBar {
    width: 90%;
  }
  .searchBar .city {
    width: 150px;
    margin: 15px 5px 15px 10px;
  }
  .searchBar .restaurant {
    width: 250px;
    margin: 15px 5px 15px 10px;
  }
  .searchBar .search-btn {
    width: 90px;
    margin: 15px 5px 15px 10px;
  }
}

@media (max-width: 600px) {
  .searchBar {
    display: block;
  }
  .searchBar .city, .searchBar .restaurant, .searchBar .search-btn {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  .searchBar div {
    width: 90%;
    margin: auto;
    align-content: center;
    padding: 10px;
  }
}


/*####################################################################################*/

.restaurant-tile {
  background-color: white;
  box-sizing: border-box;
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  padding: 20px 20px 20px 30px;
  clear: both;
  height: 240px;
  border-radius: 10px;
}

.restaurant-tile .rest-img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  float: left;
  border-radius: 10px;
}

.restaurant-tile .rest-rating {
  float: right;
  text-align: center;
}

.restaurant-tile .rest-name {
  margin-top: 5px;
  font-size: 30px;
  color: rgb(245, 119, 1);
}

.restaurant-tile .rest-loc {
  font-size: 16px;
  font-weight: 600;
  color: rgb(12, 156, 12);
  line-height: 25px;
}

.restaurant-tile .rest-add {
  color: rgba(54, 53, 53, 0.658);
}

.restaurant-tile hr {
  margin: 20px;
  opacity: 0.2;
}

.restaurant-tile .rest-rating p {
  background-color: green;
  height: 30px;
  width: 40px;
  border-radius: 10px;
  color: white;
  padding-top: 4px;
  font-size: 16px;
  margin: auto;
}

.restaurant-tile .rest-rating div {
  font-size: 16px;
  margin-top: 10px;
  color: rgb(0, 132, 255);
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 1100px) {
  .restaurant-tile {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .restaurant-tile .rest-img {
    height: 140px;
    width: 140px;
  }
  .restaurant-tile hr {
    opacity: 0;
  }  
  .restaurant-tile .rest-add {
    padding-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .restaurant-tile hr {
    display: none;
  }  
  .restaurant-tile .rest-img {
    float: none;
  }
  .restaurant-tile {
    height: auto;
  }
  .restaurant-tile .rest-rating div {
    font-size: 14px;
  }
}